<div>
    <table class="table">
        <thead class="table-light">
            <tr>
                <th scope="col">Ruta</th>
                <th scope="col">Tipo Avion</th>
                <th scope="col">Dia</th>
                <th scope="col">Hora</th>
                <th scope="col">Hora de Llegada</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of vuelos">
                <td>{{ x.ruta.origen }} - {{ x.ruta.destino }}</td>
                <td>{{ x.tipoAvion.modelo }} Año: {{ x.tipoAvion.anio }}</td>
                <td>{{ x.dia }}</td>
                <td>{{ x.hora }}</td>
                <td>{{ x.horaLlegada }}</td>
                <td>
                    <button class="btn btn-secondary" routerLink="/vuelo/{{x._id}}"><i class="fas fa-pen"></i></button>
                    <button class="btn btn-danger" (click)="deleteVuelo(x._id)" ><i class="far fa-trash-alt"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>