<div class="container pt-2 register pb-5">
    <div class="row py-5 mt-4 align-items-center">
        <div class="pb-4 text-center">
            <h1>Mantenimiento Vuelos</h1>
        </div>
        <form action="/" method="post">
            <form>
                <div class="row mb-3">
                    <div class="col-lg-12">
                        <label class="form-label">Ruta</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>--</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <!--<select class="form-select" aria-label="Default select example">
                            <option>--</option>
                            <option *ngFor="let x of rutas" [value]="x.identificador">{{x.origen}} - {{x.destino}}</option>
                        </select>-->
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-12">
                        <label class="form-label">Tipo de Avion</label>
                        <select class="form-select" aria-label="Default select example">
                            <option>--</option>
                            <option *ngFor="let x of tiposAviones" [value]="x.identificador">{{ x.modelo }} Año: {{ x.anio }}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Dia</label>
                            <input type="date" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Hora</label>
                            <input type="time" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-4">Crear Vuelo</button>
            </form>
        </form>
    </div>
    <div>
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th scope="col">Ruta</th>
                    <th scope="col">Tipo Avion</th>
                    <th scope="col">Dia</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of tiposAviones">
                    <td>{{ x.marca }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>