<app-header></app-header>

<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 flex-column justify-content-center">
        <h1 data-aos="">Skyline es una plataforma que ofrece la compra y reserva de tiquetes aéreos.</h1>
        <h2 data-aos="" data-aos-delay="400">Somos una compañía con más de 20 años de experiencia en este ámbito
           y queremos que descubras lo fácil que es poder viajar con nosotros!</h2>
        <div data-aos="" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="/register"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Registrarse</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>

        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="" data-aos-delay="200">
        <img src="../../../assets/img/avion.jpeg" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section>

<main id="main">

  <!-- ======= Search ======= -->
  <section id="search" class="d-flex align-items-center" data-aos="">
    <div class="container">
      <div class="section-header">
        <p>Buscar Vuelo</p>
      </div>
      <div style="border-radius: 0.5rem;">
        <div class="row">
          <div class="col-lg-6 pl-5 mt-3 mb-3">
            <form [formGroup]="searchForm" (ngSubmit)="submitSearchForm()" #f="ngForm">
              <div class="mb-3">
                <label for="inputOrigen" class="form-label">Origen</label>
                <input type="text" class="form-control" id="inputOrigen" formControlName="origen"
                  placeholder="Ingrese desde donde viaja">
                <div class="pt-1" *ngIf="!searchForm.value.origen && f.submitted">
                  <p class="text-danger">
                    El origen es requerido
                  </p>
                </div>
              </div>
              <div class="mb-3">
                <label for="inputDestino" class="form-label">Destino</label>
                <input type="text" class="form-control" id="inputDestino" formControlName="destino"
                  placeholder="Ingrese su destino">
                <div class="pt-1" *ngIf="!searchForm.value.destino && f.submitted">
                  <p class="text-danger">
                    El destino es requerido
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="inputFechaIda" class="form-label">Fecha Ida</label>
                    <input type="date" class="form-control" id="inputFechaIda" formControlName="fechaIda">
                  </div>
                </div>
                <div class="pt-1" *ngIf="!searchForm.value.fechaIda && f.submitted">
                  <p class="text-danger">
                    La fecha de ida es requerida
                  </p>
                </div>
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="inputFechaVuelta" class="form-label">Fecha Vuelta</label>
                    <input type="date" class="form-control" id="inputFechaVuelta" formControlName="fechaVuelta">
                  </div>
                </div>
                <div class="pt-1"
                  *ngIf="this.searchForm.value.radioGroup === 'idaVuelta' && this.searchForm.value.fechaVuelta === '' && f.submitted">
                  <p class="text-danger">
                    La fecha de vuelta es requerida
                  </p>
                </div>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" id="soloIda" onclick="radioChecked(true)" type="radio" value="ida"
                  formControlName="radioGroup">
                <label class="form-check-label">Solo ida</label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" onclick="radioChecked(false)" id="radioIdaVuelta" type="radio"
                  value="idaVuelta" formControlName="radioGroup">
                <label class="form-check-label">Ida y vuelta</label>
              </div>
              <div class="pt-1" *ngIf="!searchForm.value.radioGroup && f.submitted">
                <p class="text-danger">
                  Estas opciones son necesarias
                </p>
              </div>
              <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
          </div>
          <div class="col-lg-6 mt-5">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div *ngFor="let x of vuelosDescuento; let i = index" class="carousel-item" [class.active]="i === 0">
                  <img src="../../../assets/img/bg-carousel2.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5 style="background-color: rgb(1, 42, 112); font-size: 1.1rem;">
                        Descuento de hasta un {{ x.porc_descuento }}% en vuelos con destino a {{x.destino}}!
                    </h5>
                    <p class="bg-white text-dark">Aprovecha esta oferta por tiempo limitado!</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= About ======= -->
  <section id="about" class="about">

    <div class="container" data-aos="">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="" data-aos-delay="200">
          <div class="content">
            <h3>¿Quienes somos?</h3>
            <h2>Somos una compañia con más de 20 años de experiencia que ofrece
              comodidad y facilidad de compra de tickets aéreos a todos los rincones del mundo</h2>
            <p>
              Nuestro equipo:
              <br>Jesus Castilla Quiroz.
              <br>Amanda Venegas Villegas.
              <br>Esteban Navarro Martinez.
            </p>

          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="" data-aos-delay="200">
          <img src="assets/img/blog-3.jpg" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section>

  <!-- ======= Contact ======= -->
  <section id="contact" class="contact pt-4">

    <div class="container" data-aos="">

      <header class="section-header">
        <p>Contáctenos</p>
      </header>

      <div class="row gy-4 text-center">

        <div class="col-lg-12">

          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-geo-alt"></i>
                <h3>Dirección</h3>
                <p>Villa Bonita de Alajuela, 300 mts suroeste de Perimercados <br>y 300 sur (carretera a Villa
                  Bonita).</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-telephone"></i>
                <h3>Teléfono</h3>
                <p>+506 2435 5000</p>
                <p>+506 2401 5200</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-envelope"></i>
                <h3>Correo</h3>
                <p>jesus.castilla@skyline.com<br>esteban.navarro@skyline.com<br>amanda.venegas@skyline.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-clock"></i>
                <h3>Horario</h3>
                <p>Lunes - Viernes<br>7:00AM - 09:00PM</p>
                <br>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>

</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<app-footer></app-footer>