
<app-header></app-header>
<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 flex-column justify-content-center">
        <h1 data-aos="">Ofrecemos la compra y reserva de tiquetes aereos.</h1>
        <h2 data-aos="" data-aos-delay="400">Somos una compañia con más de 20 años de experiencia.</h2>
        <div data-aos="" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="#about"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Registrarse</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>

        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="" data-aos-delay="200">
        <img src="../../../assets/img/avion.jpeg" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section>

<main id="main">

  <!-- ======= Search ======= -->
  <section id="search" class="d-flex align-items-center" data-aos="">
    <div class="container">
      <div class="section-header">
        <p>Buscar Vuelo</p>
      </div>
      <div style="border-radius: 0.5rem;">
        <div class="row">
          <div class="col-lg-6 pl-5 mt-3 mb-3">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Origen</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Destino</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Fecha Ida</label>
                <input type="date" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Fecha Vuelta</label>
                <input type="date" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">Ida y vuelta</label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">Solo ida</label>
              </div>
              <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
          </div>
          <div class="col-lg-4 mt-3 mb-3 offset-md-1">
            <h4 class="mt-4 mb-3" style="color: #012970;">Destinos mas vendidos</h4>
            <ul>
              <li class="mb-2"><a>Costa Rica - USA</a></li>
              <li class="mb-2"><a>España - USA</a></li>
              <li class="mb-2"><a>Costa Rica - Mexico</a></li>
              <li class="mb-2"><a>Chile - Costa Rica</a></li>
              <li class="mb-2"><a>Italia - Suecia</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Destinations ======= -->
  <section id="recent-blog-posts" class="recent-blog-posts pt-2">

    <div class="container" data-aos="">

      <header class="section-header">
        <p>Principales Destinos</p>
      </header>

      <div class="row">

        <div class="col-lg-4">
          <div class="post-box">
            <div class="post-img"><img src="assets/img/paris.jpg" class="img-fluid" alt=""></div>
            <span class="post-date">Vuelo</span>
            <h3 class="post-title">Viaja a Paris</h3>
            <hr>
            <p>Precio: $ 85</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="post-box">
            <div class="post-img"><img src="assets/img/orlando.jpg" class="img-fluid" alt=""></div>
            <span class="post-date">Vuelo</span>
            <h3 class="post-title">Viaja a Orlando</h3>
            <hr>
            <p>Precio: $ 85</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="post-box">
            <div class="post-img"><img src="assets/img/newyork.jpg" class="img-fluid" alt=""></div>
            <span class="post-date">Vuelo</span>
            <h3 class="post-title">Viaja a New York</h3>
            <hr>
            <p>Precio: $ 85</p>
          </div>
        </div>

      </div>

      <div class="row mt-4">

        <div class="col-lg-4">
          <div class="post-box">
            <div class="post-img"><img src="assets/img/madrid.jpg" class="img-fluid" alt=""></div>
            <span class="post-date">Vuelo</span>
            <h3 class="post-title">Viaja a Madrid</h3>
            <hr>
            <p>Precio: $ 85</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="post-box">
            <div class="post-img"><img src="assets/img/roma.jpg" class="img-fluid" alt=""></div>
            <span class="post-date">Vuelo</span>
            <h3 class="post-title">Viaja a Roma</h3>
            <hr>
            <p>Precio: $ 85</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="post-box">
            <div class="post-img"><img src="assets/img/venecia.jpg" class="img-fluid" alt=""></div>
            <span class="post-date">Vuelo</span>
            <h3 class="post-title">Viaja a Venecia</h3>
            <hr>
            <p>Precio: $ 85</p>
          </div>
        </div>

      </div>

    </div>

  </section>

  <!-- ======= About ======= -->
  <section id="about" class="about">

    <div class="container" data-aos="">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="" data-aos-delay="200">
          <div class="content">
            <h3>¿Quienes somos?</h3>
            <h2>Somos una compañia con más de 20 años de experiencia que ofrece
              comodidad y facilidad de compra de tickets aéreos a todos los rincones del mundo</h2>
            <p>
              Nuestro equipo:
              <br>Jesus Castilla Quiroz.
              <br>Amanda Venegas Villegas.
              <br>Esteban Navarro Martinez.
            </p>

          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="" data-aos-delay="200">
          <img src="assets/img/blog-3.jpg" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section>

  <!-- ======= Contact ======= -->
  <section id="contact" class="contact pt-4">

    <div class="container" data-aos="">

      <header class="section-header">
        <p>Contáctenos</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-6">

          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-geo-alt"></i>
                <h3>Dirección</h3>
                <p>Villa Bonita de Alajuela, 300 mts suroeste de Perimercados <br>y 300 sur (carretera a Villa
                  Bonita).</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-telephone"></i>
                <h3>Teléfono</h3>
                <p>+506 2435 5000</p>
                <p>+506 2401 5200</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-envelope"></i>
                <h3>Correo</h3>
                <p>jesus.castilla@skyline.com<br>esteban.navarro@skyline.com<br>amanda.venegas@skyline.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-clock"></i>
                <h3>Horario</h3>
                <p>Lunes - Viernes<br>7:00AM - 09:00PM</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">
          <form action="forms/contact.php" method="post" class="php-email-form">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Tu Nombre" required>
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Tu Correo" required>
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Asunto" required>
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Mensaje" required></textarea>
              </div>

              <div class="col-md-12 text-center">
                <button type="submit">Enviar Mensaje</button>
              </div>

            </div>
          </form>

        </div>

      </div>

    </div>

  </section>

</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>
<app-footer></app-footer>
