<div class="contenedor mt-5 text-center">
    <div class="col-lg-12">
        <div class="card">
            <h5 class="card-header">Detalles del Pago</h5>
            <div class="card-body">
                <p>Subtotal: ${{subtotal}}</p>
                <p>Descuento: ${{descuento | number:'1.2'}}</p>
            </div>
            <div class="card-footer">
                <p style="font-size: 1.2rem;"><strong>Total: ${{total | number:'1.2'}}</strong></p>
                <p>Precio en colones: ₡{{colon| number:'1.2'}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mt-3">
            <a class="btn btn-success" (click)="makePayment()" ngClass="(pagar? :disabled)">Pagar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mt-3">
            <a class="btn btn-primary" (click)="goBack()">Volver</a>
        </div>
    </div>
</div>