<footer id="footer" class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">

        <div class="col-lg-6 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span>Skyline</span>
          </a>
        </div>

        <div class="col-lg-3 col-md-12 footer-links text-center">
          <h4>Servicios</h4>
          <ul>
            <li style="margin: 0 auto; width: 4rem;">
              <i class="bi bi-chevron-right"></i>
              <a href="#search">Vuelos</a>
            </li>
            <li style="margin: 0 auto; width: 4rem;">
              <i class="bi bi-chevron-right"></i>
              <a href="#">Promociones</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Encuentrenos</h4>
          <p>
            300 mts suroeste de Perimercados <br>
            y 300 sur (carretera a Villa Bonita) <br>
            Alajuela, Villa bonita<br>
            Costa Rica<br><br>
            <strong>Teléfono:</strong> +506 2435 5000<br>
            <strong>Correo:</strong>
            jesus.castilla@skyline.com<br>esteban.navarro@skyline.com<br>amanda.venegas@skyline.com
          </p>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Skyline</span></strong>. Todos los Derechos Reservados
    </div>
  </div>
</footer>
