<section class="mt-3">
    <div class="container">
        <div class="section-header">
            <p>Seleccione los asientos</p>
        </div>
        <div class="p-5 d-flex">
            <p>Disponibles</p>
            <div class="info-blue"></div>
            <p>Reservados</p>
            <div class="info-orange"></div>
        </div>
        <div>
            <div class="wing"></div>
            <div class="plane p-3" >
                <div class="row">
                    <div class="d-flex flex-wrap">
                        <div class="seat">A1</div>
                        <div class="seat">A2</div>
                        <div class="seat">A3</div>
                        <div class="seat">A4</div>
                        <div class="seat">A5</div>
                        <div class="seat">A6</div>
                        <div class="seat">A7</div>
                        <div class="seat">A8</div>
                        <div class="seat">A9</div>
                        <div class="seat">A10</div>
                        <div class="seat">A11</div>
                        <div class="seat">A12</div>
                        <div class="seat">A13</div>
                        <div class="seat">A14</div>
                        <div class="seat-reserved">A15</div>
                        <div class="seat">A16</div>
                        <div class="seat">A17</div>
                        <div class="seat">A18</div>
                        <div class="seat">A19</div>
                        <div class="seat">A20</div>
                        <div class="seat">B1</div>
                        <div class="seat">B2</div>
                        <div class="seat">B3</div>
                        <div class="seat">B4</div>
                        <div class="seat">B5</div>
                        <div class="seat">B6</div>
                        <div class="seat">B7</div>
                        <div class="seat">B8</div>
                        <div class="seat">B9</div>
                        <div class="seat">B10</div>
                        <div class="seat">B11</div>
                        <div class="seat">B12</div>
                        <div class="seat">B13</div>
                        <div class="seat">B14</div>
                        <div class="seat">B15</div>
                        <div class="seat">B16</div>
                        <div class="seat">B17</div>
                        <div class="seat">B18</div>
                        <div class="seat">B19</div>
                        <div class="seat">B20</div>
                        <div class="seat">C1</div>
                        <div class="seat">C2</div>
                        <div class="seat">C3</div>
                        <div class="seat">C4</div>
                        <div class="seat">C5</div>
                        <div class="seat">C6</div>
                        <div class="seat">C7</div>
                        <div class="seat">C8</div>
                        <div class="seat">C9</div>
                        <div class="seat">C10</div>
                        <div class="seat">C11</div>
                        <div class="seat">C12</div>
                        <div class="seat">C13</div>
                        <div class="seat">C14</div>
                        <div class="seat">C15</div>
                        <div class="seat">C16</div>
                        <div class="seat">C17</div>
                        <div class="seat">C18</div>
                        <div class="seat">C19</div>
                        <div class="seat">C20</div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="d-flex flex-wrap">
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="d-flex flex-wrap">
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                        <div class="seat">D</div>
                    </div>
                </div>
            </div>
            <div class="wing2"></div>
            <div class="text-center mt-5">
                <button class="btn button">Confirmar Asientos</button>
            </div>
            
        </div>
    </div>
</section>