<header id="header" class="header fixed-top">

  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
      <img src="../../../assets/img/logo.png" alt="">
      <span>Skyline</span>
    </a>

    <div class="container-fluid">
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#search">Buscar Vuelo</a></li>
          <li><a class="nav-link scrollto" href="#about">¿Quienes Somos?</a></li>
          <li><a class="nav-link scrollto" href="#contact">Cantáctenos</a></li>
        </ul>
        <div *ngIf="isValid; else notValid">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Usuario: {{ user.user.user }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li *ngIf="user.user.role === 'admin'"><a class="dropdown-item" routerLink="/dashboard">Vista Administrador</a></li>
              <li><a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesion</a></li>
            </ul>
          </div>
        </div>
        <ng-template #notValid>
          <a class="getstarted btn scrollto btn-primary" href="/login">Iniciar Sesion</a>
        </ng-template>
      </nav>
    </div>
  </div>

</header>

<div class="collapse" id="navbarToggleExternalContent">
  <div class=" p-4">
    <nav class="navbar-responsive">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
        <li><a class="nav-link scrollto" href="#search">Buscar Vuelo</a></li>
        <li><a class="nav-link scrollto" href="#about">¿Quienes Somos?</a></li>
        <li><a class="nav-link scrollto" href="#contact">Cantáctenos</a></li>
        <div *ngIf="isValid; else notValid">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Usuario: {{ user.user.user }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesion</a></li>
            </ul>
          </div>
        </div>
        <ng-template #notValid>
          <a class="getstarted scrollto btn-primary ml-5" href="/login">Iniciar Sesion</a>
        </ng-template>
      </ul>
    </nav>
  </div>
</div>
<nav class="navbar navbar-light bg-light navbar-responsive">
  <div class="container-fluid">
    <div>
      <a href="index.html" class="navbar-responsive-logo">
        <img src="../../../assets/img/logo.png" alt="">
        <span>Skyline</span>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
