<header id="header" class="header fixed-top">

  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
      <img src="../../../assets/img/logo.png" alt="">
      <span>Skyline</span>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
        <li><a class="nav-link scrollto" href="#about">¿Quienes Somos?</a></li>
        <li><a class="nav-link scrollto" href="#services">Vuelos</a></li>
        <li><a class="nav-link scrollto" href="#team">Check-in</a></li>

        <li class="dropdown"><a href="#"><span>Mantenimientos</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Tipos de aviones</a></li>
            <li><a href="#">Rutas</a></li>
            <li><a href="#">Horarios</a></li>
            <li><a href="#">Vuelos</a></li>
            <li><a href="#">Usuarios</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Reportes</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Facturas por mes </a></li>
            <li><a href="#">Clientes por avión</a></li>
            <li><a href="#">Rutas con más ventas</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#contact">Cantáctenos</a></li>
        <li><a class="getstarted scrollto" href="#about">Registrarse</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

  </div>

</header>
