<a class="btn btn-primary mb-3" href="/dashboard/management/reservation/form">
    <i class="fas fa-plus d-inline-block m-1"></i>
    Crear Nuevo
</a>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-white">
                <tr>
                    <th scope="col">Usuario</th>
                    <th scope="col">Vuelo</th>
                    <th scope="col">Asiento</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of reservas">
                    <td>{{ x.compra.Usuario.user }}</td>
                    <td>{{ x.vuelo.ruta.identificador }}</td>
                    <td>
                        <div *ngIf="x.asiento; else notAsiento">
                            {{ x.asiento }}
                        </div>
                        <ng-template #notAsiento>
                            Asiento no disponible
                        </ng-template>
                    </td>
                    <td>
                        <a type="button" class="btn btn-secondary d-inline-block m-1" href="/dashboard/management/reservation/{{x._id}}"><i
                                class="fas fa-pen"></i></a>
                        <a type="button" class="btn btn-danger d-inline-block m-1" (click)="deleteReserva(x._id)"><i
                                class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>