<a class="btn btn-primary mb-3" href="/dashboard/ruta/form">
    <i class="fas fa-plus d-inline-block m-1"></i>
    Crear Nuevo
</a>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-white">
                <tr>
                    <th scope="col">Identificador</th>
                    <th scope="col">Duracion</th>
                    <th scope="col">Origen</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Porcentaje descuento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of rutas">
                    <td>{{ x.identificador }}</td>
                    <td>{{ x.duracion }}</td>
                    <td>{{ x.origen }}</td>
                    <td>{{ x.destino }}</td>
                    <td>{{ x.porc_descuento }}</td>
                    <td>
                        <a class="btn btn-secondary d-inline-block m-1" href="/dashboard/ruta/{{x._id}}"><i
                                class="fas fa-pen"></i></a>
                        <a class="btn btn-danger d-inline-block m-1" (click)="deleteRuta(x._id)"><i
                                class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>