<div class="body ">
  <div class="mb-5 bod container"></div>
  <div class="container  ">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="card">
          <div class="card-body text-center">
            <span class="titulo">registrarse</span>
            <form class="mt-3" >
              <div class="mb-3">
                <input type="text" formControlName="producto" class="form-control form-control-lg" placeholder="Producto">
              <div class="text-danger" *ngIf="false">
                <span>El nombre del producto <strong>es obligatorio</strong></span>
              </div>
              </div>
              <div class="mb-3">
                <input type="text" formControlName="categoria" class="form-control form-control-lg" placeholder="Categoria">
                <div class="text-danger" *ngIf="false">
                  <span>La categoria del producto <strong>es obligatorio</strong></span>
                </div>
              </div>
              <div class="mb-3">
                <input type="text" formControlName="ubicacion" class="form-control form-control-lg" placeholder="Ubicacion">
                <div class="text-danger" *ngIf="false">
                  <span>La ubicacion del producto <strong>es obligatorio</strong></span>
                </div>
              </div>
              <div class="mb-3">
                <input type="number" formControlName="precio" class="form-control form-control-lg" placeholder="Precio">
                <div class="text-danger" *ngIf="false">
                  <span>El precio del producto <strong>es obligatorio</strong></span>
                </div>
              </div>
              <div class="mb-3">
                <button class="btn btn-secondary btn-lg float-start" routerLink="/">VOLVER</button>
                <button type="submit"  class="btn btn-success btn-lg float-end">ACEPTAR</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
