<a class="btn btn-primary mb-3" href="/dashboard/compra/form">
  <i class="fas fa-plus d-inline-block m-1"></i>
  Crear Nuevo
</a>

<div class="card">
  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-hover">
              <thead class="table-white">
                  <tr>
                      <th scope="col">Usuario</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Subtotal</th>
                      <th scope="col">Descuento</th>
                      <th scope="col">Monto total</th>
                      <th scope="col">Opciones</th>
                  </tr>
              </thead>
              <tbody>
                 <tr *ngFor="let x of compras">

                   <td>{{x.Usuario.name}}</td>
                   <td>{{x.Cantidad}}</td>
                   <td>{{x.Subtotal}}</td>
                   <td>{{x.Descuento}}</td>
                   <td>{{x.MontoTotal}}</td>


                      <td>
                          <a type="button" class="btn btn-secondary d-inline-block m-1"
                              href="/dashboard/compra/{{x._id}}"><i class="fas fa-pen"></i></a>
                          <a type="button" class="btn btn-danger d-inline-block m-1" ><i
                                  class="far fa-trash-alt" (click)="delete(x._id)"></i></a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>

